# Cluster the Spire
Will Wright

### Purpose and Context

[todo]

In [3]:
# Load packages
import shutil
from os import listdir
import json
import glob
import os
import numpy as np
import pandas as pd
import random
import copy
from heapq import nsmallest

# increase viewable dataframe rows and columns
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 20)

# set random seed
random.seed(30)

All the data currently lives in several zipped tar.gz files within the 'zipped' folder.  These need to be extracted into an unzipped folder.

**PROTIP:** If you have the files already extracted (as they are in the repo), skip this step to avoid the lengthy unpacking process

In [2]:
def extract_all(archives, extract_path, zip_format = "gztar"):
    '''
    input: path to zipped file archives, path to extract, and type of zipped file
    output: unzipped contents of each zipped file within the extract path
    '''
    for filename in listdir(archives):
        shutil.unpack_archive(archives+filename, extract_path, zip_format)

In [32]:
extract_all("../data_raw/zipped/","../data_raw/unzipped/", "gztar")

In [3]:
# Start here if the files are already unzipped
read_files = glob.glob("../data_raw/unzipped/*/*.json", recursive = True)

To give more context about the data we're working with, lets see exactly how many raw game runs we have:

In [4]:
len(read_files)

279848

Almost 280K games! We'll need to subset down to games for The Defect on Ascension 20 that resulted in wins before we can determine the relevant sample size though. In order to do that, we'll want to read these files together and use relevant JSON keys to narrow our focus.

In [5]:
# this approach creates a list of JSON strings from all the read_files
output_list = []

for f in read_files:
    try:
        with open(f, "r") as infile:
            # test if the file isn't empty and that the name doesn't contain 'undefined' (1 file, contents are "File doesn't exists)")
            if (os.path.getsize(f)>0) & (('undefined' in f)==False):
                output_list.append(json.load(infile))
            else:
                pass
    except UnicodeDecodeError: # some unicode can't be read so just don't load those games (I think it's a particular monster name)
        pass

In [6]:
len(output_list)

279693

In [7]:
len(read_files)-len(output_list)

155

We've excluded 155 games that were either empty, had unreadable unicode, or were 'undefined'.  It's possible that this may introduce some bias (e.g. removing relevant games with particular qualities), but given that this represents such a small volume of games relative to all 280K and I haven't seen any apparent bias in looking through a sample of the files, I don't think this should be a major concern.

After more attempts to get the data into the right format, it looks like there is a single case where the JSON is wrapped in '[ ]'.  Since this game is for Ironclad, I'll simply remove from the dataset.

In [8]:
len(output_list)

279693

In [9]:
output_list[:] = [s for s in output_list if str(s)[0]!='[']

In [10]:
len(output_list)

279692

With that single exception removed, we can now subset to a list of Defect games, which pass the conditions of being the Defect character, a victory, and Ascension 20.  Since it's possible that I'll want to expand this investigation to the other two characters later, I'll also set aside their games in their own lists.

In [11]:
# Winning Ascension 20 games by character
defect_asc20_win_games = []
ironclad_asc20_win_games = []
silent_asc20_win_games = []

# Losing Ascension 20 games by character
defect_asc20_lose_games = []
ironclad_asc20_lose_games = []
silent_asc20_lose_games = []

for i in range(len(output_list)):
    if output_list[i] is not None:
        # test to ensure the game data has all the required elements (character, ascention level, and victory status)
        if ('character_chosen' in dict(output_list[i])) and \
        ('ascension_level' in dict(output_list[i])) and \
        ('victory' in dict(output_list[i])):
            
            # DEFECT WINNING
            if (output_list[i]['character_chosen']=='DEFECT') & \
            (output_list[i]['victory']==True) & \
            (output_list[i]['ascension_level']==20):
                defect_asc20_win_games.append(output_list[i])
            
            # DEFECT LOSING
            if (output_list[i]['character_chosen']=='DEFECT') & \
            (output_list[i]['victory']==False) & \
            (output_list[i]['ascension_level']==20):
                defect_asc20_lose_games.append(output_list[i])
            
            # IRONCLAD WINNING  
            if (output_list[i]['character_chosen']=='IRONCLAD') & \
            (output_list[i]['victory']==True) & \
            (output_list[i]['ascension_level']==20):
                ironclad_asc20_win_games.append(output_list[i])
                
            # IRONCLAD LOSING  
            if (output_list[i]['character_chosen']=='IRONCLAD') & \
            (output_list[i]['victory']==False) & \
            (output_list[i]['ascension_level']==20):
                ironclad_asc20_lose_games.append(output_list[i])
                
            # SILENT WINNING  
            if (output_list[i]['character_chosen']=='THE_SILENT') & \
            (output_list[i]['victory']==True) & \
            (output_list[i]['ascension_level']==20):
                silent_asc20_win_games.append(output_list[i])
                
            # SILENT LOSING
            if (output_list[i]['character_chosen']=='THE_SILENT') & \
            (output_list[i]['victory']==False) & \
            (output_list[i]['ascension_level']==20):
                silent_asc20_lose_games.append(output_list[i])

I'm curious about character winrates.  Lets compare to the total games per character.

In [12]:
# Calculate all summary statistics
defect_winning = len(defect_asc20_win_games)
defect_losing = len(defect_asc20_lose_games)
defect_total = len(defect_asc20_win_games)+len(defect_asc20_lose_games)
defect_winrate = defect_winning/defect_total

# Calculate all summary statistics
ironclad_winning = len(ironclad_asc20_win_games)
ironclad_losing = len(ironclad_asc20_lose_games)
ironclad_total = len(ironclad_asc20_win_games)+len(ironclad_asc20_lose_games)
ironclad_winrate = ironclad_winning/ironclad_total

# Calculate all summary statistics
silent_winning = len(silent_asc20_win_games)
silent_losing = len(silent_asc20_lose_games)
silent_total = len(silent_asc20_win_games)+len(silent_asc20_lose_games)
silent_winrate = silent_winning/silent_total


asc20_games_summary = pd.DataFrame({'Character':['Defect','Ironclad','Silent'],
                                    'Winning Games':[defect_winning,
                                                     ironclad_winning,
                                                     silent_winning],
                                     'Total Games':[defect_total,
                                                    ironclad_total,
                                                    silent_total],
                                     'Winrate':[defect_winrate,
                                               ironclad_winrate,
                                               silent_winrate]})

In [13]:
asc20_games_summary

  Character  Winning Games  Total Games   Winrate
0    Defect           1669        16863  0.098974
1  Ironclad           1716        14798  0.115962
2    Silent           1811        14278  0.126838

It would seem that although Defect is the most-played character, it has the lowest winrate.  This supports the claim that Defect is the hardest character (at least on Ascension 20).  In any case, we have 1669 victorious Defect Ascension 20 games, which should be adequate sample for clustering.

Next, we need to convert this list of JSON objects to a dataframe we can cluster.  Ideally, the shape of the data is one-row-per-game with columns for all the cards and relics. In order to do that, we'll want to create a vector of all unique cards and relics.

#### Getting Unique Cards and Relics  

In order to get all unique cards and relics, we can simply pull all cards and relics from all games, then apply the `unique()` function.

In [14]:
all_game_decks = []
all_game_relics = []

for i in range(len(output_list)):
    if output_list[i] is not None:
        # ensure the run data has the deck and relics to avoid errors in rare cases
        if ('master_deck' in dict(output_list[i])) and ('relics' in dict(output_list[i])):
            all_game_decks.append(output_list[i]['master_deck'])
            all_game_relics.append(output_list[i]['relics'])

In [15]:
# Within each game, each card and relic needs to be pulled out into a flat list.
all_cards = []

for i in range(len(all_game_decks)):
    for j in range(len(all_game_decks[i])):
        all_cards.append(all_game_decks[i][j])
        
all_relics = []

for i in range(len(all_game_relics)):
    for j in range(len(all_game_relics[i])):
        all_relics.append(all_game_relics[i][j])

In [16]:
# create unique lists
unique_cards = list(np.unique(all_cards))
unique_relics = list(np.unique(all_relics))

In [18]:
len(unique_cards)

3164

In [19]:
len(unique_relics)

876

Looks like we have 3164 unique cards and 876 unique relics.  This is a fair bit more than expected, so lets take a look at the head and tail of cards:

In [20]:
unique_cards[0:10]

['6A',
 '6A+1',
 'A Thousand Cuts',
 'A Thousand Cuts+1',
 'Abandon',
 'Abandon+1',
 'AbeCurse',
 'AbsoluteMagnitude+1',
 'Absolvement',
 'Absolvement+1']

In [21]:
unique_cards[-10:-1]

['vexMod:StarBlast',
 'vexMod:StrikeStorm',
 'vexMod:StrikeStorm+1',
 'vexMod:Taunt+1',
 'vexMod:TrainingStrike',
 'vexMod:TrainingStrike+1',
 'vexMod:UltimateCard',
 'vexMod:VenomSigh',
 'vexMod:VolumeVengeance']

This reveals two issues: there are the standard and "+1" versions of cards (players can upgrade cards once) as well as cards from game mods (essentially, player-made extensions of the game).  Thankfully, my domain expertise makes it fairly easy to know which cards aren't in the base game and it seems like most of the modded cards have a ':' in their name so they should be fairly easy to exclude.  

After testing, it looks like there are a few other exceptions for specific mods that use a '\_' in their name.  I'll go ahead and simply remove those cases as well.

In [22]:
unique_cards[:] = [s for s in unique_cards if '+' not in s \
                   and ':' not in s\
                   and '_' not in s]

In [23]:
len(unique_cards)

679

In review of the new card list, I can still see some non-base cards, but I'm not too concerned with this affecting the final results due to the expected low frequency of those cards (0 in cases where the character isn't one of the base characters).  

Next, the same cleansing will be applied to the relics. Generally speaking, relics have the same issue with mods as the cards, but there are not upgrades available.

In [24]:
unique_relics[:] = [s for s in unique_relics if '_' not in s \
                   and ':' not in s]

In [25]:
len(unique_relics)

391

Again, this isn't a perfect methodology, but since there are no flags for being a mod within the game data, it is difficult to use a single signal as a subsetting criteria to only the base game.

___

At this point, we can build a table of all unique cards and relics and then fill in Trues and Falses for whether the card was present per completed game.

In [56]:
def resource_table_generator(resource_input, game_input):
    '''
    input: a list of resources to be included in the rows of the table (i.e. cards and relics)
           a list of JSON game data to go in the columns
    output: a DataFrame indicating if each resource is in each game with a True or False
    '''
    # Build a 1-column table with the resources in each row
    resource_table = pd.DataFrame({'Resource':resource_input})
    
    # determine the number of preceding zeroes to put in the game name for the column names
    game_volume = len(game_input)
    preceding_zeroes = len(str(game_volume)) # so if you have 1669 games, the first game will be 'game_0001'
    
    # For each game append a column and fill with True/False based on if the card is present
    for i in range(len(game_input)):
        # scrub the '+1's from the cards (just remove the string, not the card) so they'll match on the unique_cards list
        game_deck = game_input[i]['master_deck']
        for j in range(len(game_deck)):
            game_deck[j] = game_deck[j].replace('+1','')
        
        # Create column name for the game
        resource_table['game_'+str('{:0'+str(preceding_zeroes)+'d}').format(i+1)] = False # default to false
        # For each resource, update to True if it is in the final game resources
        for j in range(len(resource_table)):
            if((resource_table['Resource'][j] in game_deck) or \
               (resource_table['Resource'][j] in game_input[i]['relics'])):
                resource_table.iloc[j,i+1] = True
    
    return(resource_table)

#### Defect Resource Table and Summary Frequency Tables

Now, simply plug in the resources and the Defect Ascension 20 victorious games to get a complete table of whether each resource is present in each game.

In [57]:
defect_asc20_win_resources = resource_table_generator(unique_cards+unique_relics, defect_asc20_win_games)

In [58]:
defect_asc20_win_resources

,Resource,game_0001,game_0002,game_0003,game_0004,game_0005,game_0006,game_0007,game_0008,game_0009,...,game_1660,game_1661,game_1662,game_1663,game_1664,game_1665,game_1666,game_1667,game_1668,game_1669
0,6A,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A Thousand Cuts,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abandon,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,AbeCurse,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Absolvement,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,Winged Necklace,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1066,WingedGreaves,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1067,WristBlade,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1068,Yang,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1069,ZombieTooth,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

It'd be useful to see the relative frequency of each resource in a separate summary table:

In [59]:
defect_resource_freq = pd.DataFrame({'Resource':defect_asc20_win_resources['Resource'],
                                     'Frequency':defect_asc20_win_resources.sum(axis = 1)})
defect_resource_freq = defect_resource_freq.sort_values(by = ['Frequency'], ascending = False).reset_index(drop=True)
defect_resource_freq['Percent of Wins'] = defect_resource_freq['Frequency']/len(defect_asc20_win_games)

In [60]:
# subset to resources which are >0
defect_resource_freq = defect_resource_freq[defect_resource_freq['Frequency']>0]
defect_resource_freq['Percentile Rank']=defect_resource_freq['Frequency'].rank(pct=True, ascending = False)
defect_resource_freq['Rank']=defect_resource_freq['Frequency'].rank(ascending = False)

In [76]:
defect_resource_freq[0:10]

,Resource,Frequency,Percent of Wins,Percentile Rank,Rank,Resource Type
0,AscendersBane,1646,0.986219,0.002488,1.0,card
1,Dualcast,1513,0.906531,0.004975,2.0,card
2,Zap,1401,0.839425,0.007463,3.0,card
3,Cracked Core,1394,0.835231,0.009950,4.0,relic
4,Coolheaded,1357,0.813062,0.012438,5.0,card
5,Defragment,1163,0.696824,0.014925,6.0,card
6,Hologram,1141,0.683643,0.017413,7.0,card
7,Glacier,1039,0.622528,0.019900,8.0,card
8,Cold Snap,931,0.557819,0.022388,9.0,card
9,Capacitor,889,0.532654,0.024876,10.0,card

These results align with expectations.  'AscendersBane' is the curse card which should be present in every winning deck with Defect on Ascension 20 and thus, it makes sense that it's the most frequent card (though I'm not quire sure how some games completed without it).  Below that are the starting cards 'Dualcast' and 'Zap', then the starting relic 'Cracked Core'.  The first non-starting resource is 'Coolheaded' and it appears in a full **81%** of games! I knew it was a good card, but it seems almost critical to success on Ascension 20 with Defect.

After having used this .csv when playing, it seems like it'd be more user-friendly to have a total of 3 .csvs per character.  We've created one (a view containing all relics and cards), but if I only wanted to select cards in the top 20th percentile, I can't because the relics are mixed in.  This being the case, we'll separate into cards and relics, then get the percentiles and ranks within those groupings.  

To do this, we'll use a function to assign 'card' or 'relic' to `defect_resource_freq` in a 'resource_type' column, then subset on that before performing the ranking.

In [64]:
def resource_typer(resource_name_input):
    '''
    input: name of a resource
    output: string of 'relic' or 'card' based on the input
    '''
    if resource_name_input in unique_cards: return('card')
    if resource_name_input in unique_relics: return('relic')

In [73]:
defect_resource_freq['Resource Type']=''
for i in range(len(defect_resource_freq)):
    defect_resource_freq['Resource Type'][i] = resource_typer(defect_resource_freq['Resource'][i])

/Users/willwright/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
defect_resource_freq[0:10]

,Resource,Frequency,Percent of Wins,Percentile Rank,Rank,Resource Type
0,AscendersBane,1646,0.986219,0.002488,1.0,card
1,Dualcast,1513,0.906531,0.004975,2.0,card
2,Zap,1401,0.839425,0.007463,3.0,card
3,Cracked Core,1394,0.835231,0.009950,4.0,relic
4,Coolheaded,1357,0.813062,0.012438,5.0,card
5,Defragment,1163,0.696824,0.014925,6.0,card
6,Hologram,1141,0.683643,0.017413,7.0,card
7,Glacier,1039,0.622528,0.019900,8.0,card
8,Cold Snap,931,0.557819,0.022388,9.0,card
9,Capacitor,889,0.532654,0.024876,10.0,card

Now, we simply subset on 'Resource Type' and re-apply the rank and percentile:

In [81]:
# cards
defect_card_freq = copy.copy(defect_resource_freq[defect_resource_freq['Resource Type']=='card'])
del defect_card_freq['Resource Type'] # redundant column since this is only cards
defect_card_freq['Percentile Rank']=defect_card_freq['Frequency'].rank(pct=True, ascending = False)
defect_card_freq['Rank']=defect_card_freq['Frequency'].rank(ascending = False)

# relics
defect_relic_freq = copy.copy(defect_resource_freq[defect_resource_freq['Resource Type']=='relic'])
del defect_relic_freq['Resource Type'] # redundant column since this is only cards
defect_relic_freq['Percentile Rank']=defect_relic_freq['Frequency'].rank(pct=True, ascending = False)
defect_relic_freq['Rank']=defect_relic_freq['Frequency'].rank(ascending = False)

With the framework complete for Defect, we can simply apply the same methodology to Silent and Ironclad:

#### Silent Resource Table and Summary Frequency Tables

In [98]:
# Create Resource Table
silent_asc20_win_resources = resource_table_generator(unique_cards+unique_relics, silent_asc20_win_games)
silent_resource_freq = pd.DataFrame({'Resource':silent_asc20_win_resources['Resource'],
                                     'Frequency':silent_asc20_win_resources.sum(axis = 1)})
silent_resource_freq = silent_resource_freq.sort_values(by = ['Frequency'], ascending = False).reset_index(drop=True)
silent_resource_freq['Percent of Wins'] = silent_resource_freq['Frequency']/len(silent_asc20_win_games)

In [99]:
# subset to resources which are >0
silent_resource_freq = silent_resource_freq[silent_resource_freq['Frequency']>0]
silent_resource_freq['Percentile Rank']=silent_resource_freq['Frequency'].rank(pct=True, ascending = False)
silent_resource_freq['Rank']=silent_resource_freq['Frequency'].rank(ascending = False)

# add resource type
silent_resource_freq['Resource Type']=''
for i in range(len(silent_resource_freq)):
    silent_resource_freq['Resource Type'][i] = resource_typer(silent_resource_freq['Resource'][i])

/Users/willwright/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [100]:
# create separate card and relic tables
# cards
silent_card_freq = copy.copy(silent_resource_freq[silent_resource_freq['Resource Type']=='card'])
del silent_card_freq['Resource Type'] # redundant column since this is only cards
silent_card_freq['Percentile Rank']=silent_card_freq['Frequency'].rank(pct=True, ascending = False)
silent_card_freq['Rank']=silent_card_freq['Frequency'].rank(ascending = False)

# relics
silent_relic_freq = copy.copy(silent_resource_freq[silent_resource_freq['Resource Type']=='relic'])
del silent_relic_freq['Resource Type'] # redundant column since this is only cards
silent_relic_freq['Percentile Rank']=silent_relic_freq['Frequency'].rank(pct=True, ascending = False)
silent_relic_freq['Rank']=silent_relic_freq['Frequency'].rank(ascending = False)

#### Ironclad Resource Table and Summary Frequency Tables

In [90]:
# Create Resource Table
ironclad_asc20_win_resources = resource_table_generator(unique_cards+unique_relics, ironclad_asc20_win_games)
ironclad_resource_freq = pd.DataFrame({'Resource':ironclad_asc20_win_resources['Resource'],
                                     'Frequency':ironclad_asc20_win_resources.sum(axis = 1)})
ironclad_resource_freq = ironclad_resource_freq.sort_values(by = ['Frequency'], ascending = False).reset_index(drop=True)
ironclad_resource_freq['Percent of Wins'] = ironclad_resource_freq['Frequency']/len(ironclad_asc20_win_games)

In [93]:
# subset to resources which are >0
ironclad_resource_freq = ironclad_resource_freq[ironclad_resource_freq['Frequency']>0]
ironclad_resource_freq['Percentile Rank']=ironclad_resource_freq['Frequency'].rank(pct=True, ascending = False)
ironclad_resource_freq['Rank']=ironclad_resource_freq['Frequency'].rank(ascending = False)

# add resource type
ironclad_resource_freq['Resource Type']=''
for i in range(len(ironclad_resource_freq)):
    ironclad_resource_freq['Resource Type'][i] = resource_typer(ironclad_resource_freq['Resource'][i])

/Users/willwright/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [94]:
# create separate card and relic tables
# cards
ironclad_card_freq = copy.copy(ironclad_resource_freq[ironclad_resource_freq['Resource Type']=='card'])
del ironclad_card_freq['Resource Type'] # redundant column since this is only cards
ironclad_card_freq['Percentile Rank']=ironclad_card_freq['Frequency'].rank(pct=True, ascending = False)
ironclad_card_freq['Rank']=ironclad_card_freq['Frequency'].rank(ascending = False)

# relics
ironclad_relic_freq = copy.copy(ironclad_resource_freq[ironclad_resource_freq['Resource Type']=='relic'])
del ironclad_relic_freq['Resource Type'] # redundant column since this is only cards
ironclad_relic_freq['Percentile Rank']=ironclad_relic_freq['Frequency'].rank(pct=True, ascending = False)
ironclad_relic_freq['Rank']=ironclad_relic_freq['Frequency'].rank(ascending = False)

#### Saving Frequency Table Results

In [101]:
# Write to .csv
# Defect
defect_resource_freq.to_csv('../results/defect_resource_freq.csv', index = False)
defect_card_freq.to_csv('../results/defect_card_freq.csv', index = False)
defect_relic_freq.to_csv('../results/defect_relic_freq.csv', index = False)

# Silent
silent_resource_freq.to_csv('../results/silent_resource_freq.csv', index = False)
silent_card_freq.to_csv('../results/silent_card_freq.csv', index = False)
silent_relic_freq.to_csv('../results/silent_relic_freq.csv', index = False)

# Ironclad
ironclad_resource_freq.to_csv('../results/ironclad_resource_freq.csv', index = False)
ironclad_card_freq.to_csv('../results/ironclad_card_freq.csv', index = False)
ironclad_relic_freq.to_csv('../results/ironclad_relic_freq.csv', index = False)

___
## Simulating Clusters
There are several algorithms out there for clustering binary data, but I'd like to try my hand at developing my own. After much whiteboarding, my plan is to test and see if I can get my own idea to work.

**Clustering Algorithm**
1. Start with clusters equal to the number of resources (k=n)
2. Calculate the distance between each cluster and every other cluster where distance is the sum of resources that don't match (i.e. if a card is in both decks, that resource adds 0 distance, but it if is in one and not the other, then it adds 1 distance.  "Distance" is the sum of all these resource differences)
3. For each cluster, calculate the nearest resource and add to the cluster
4. For each updated cluster calculate, calculate the distance to all other clusters and drop the two which have the closest distance
5. Repeat 2-4 until k=1
6. Plot average distance for k=1 through k=n
7. Select a reasonable k

### Generating Test Data

Lets imagine we have 20 resources in 100 games and 4 relatively-tight clusters.  In order to do this, we'll create 4 medoids by drawing from the binomial distribution with p = 0.2, 0.4, 0.6, and 0.8 for each draw being a 1 instead of a 0 for each resource within a medoid.

In [102]:
first_medoid = np.random.binomial(1, 0.2, 20)
second_medoid = np.random.binomial(1, 0.4, 20)
third_medoid = np.random.binomial(1, 0.6, 20)
fourth_medoid = np.random.binomial(1, 0.8, 20)

print(first_medoid)
print(second_medoid)
print(third_medoid)
print(fourth_medoid)

[0 1 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0]
[1 1 1 1 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0]
[1 1 1 0 1 1 0 1 0 1 1 1 0 1 1 1 1 1 0 1]
[1 1 1 1 1 0 1 0 1 0 1 1 0 1 1 1 1 1 1 1]

We'll want a function to measure the distance between games (as described in step 2 of the algorithm):

In [103]:
def cluster_distance_calculator(cluster1_input, cluster2_input):
    '''
    input: arrays of binary data for two clusters
    output: a distance measurement
    method: distance is the sum of differences in the binary data, by position
    '''
    distance = sum(abs(cluster1_input-cluster2_input))
    return(distance)

In [104]:
# test it out for the distance between the first medoid and the others
print(cluster_distance_calculator(first_medoid, first_medoid))
print(cluster_distance_calculator(first_medoid, second_medoid))
print(cluster_distance_calculator(first_medoid, third_medoid))
print(cluster_distance_calculator(first_medoid, fourth_medoid))

0
11
10
13

As expected, there is 0 distance for the first medoid compared to itself. Both the second and the third medoids have 9 total differences and the fourth medoid has 14. We'll want to see what the confusion matrix of each cluster's distance from each other cluster in a function for easy and comprehensive evaluation:

In [105]:
def cluster_confusioner(cluster_list_input):
    '''
    input: a list of clusters of equal length
    output: a matrix which applies the cluster_distance_calculator to each pair of clusters
    '''
    distance_matrix = np.empty((len(cluster_list_input), len(cluster_list_input)))
    
    # iterate through each comparison to populate the matrix
    for i in range(len(cluster_list_input)):
        for j in range(len(cluster_list_input)):
            distance_matrix[i,j] = cluster_distance_calculator(cluster_list_input[i], cluster_list_input[j])
    
    return(distance_matrix)

In [106]:
cluster_confusioner([first_medoid, second_medoid, third_medoid, fourth_medoid])

array([[ 0., 11., 10., 13.],
       [11.,  0., 11.,  8.],
       [10., 11.,  0.,  7.],
       [13.,  8.,  7.,  0.]])

Here, we can see those same 0, 9, 9, 14 values across the first row and down the first column as well as the distances between the other clusters.  It looks like the maximum distance is 14 (difference between the first and fourth medoid) and the minimum distance is a three-way tie between medoids 1:2, 1:3, and 2:4 with a distance of 9.

Next, we'll want to create 24 similar games per medoid to simulate a situation in which there were 4 winning sets of resources.  We'll do this by randomly selecting 0-25% of the elements in each cluster and flipping them. such that we'll have 75% to 100% similarity between each game intended for a cluster and its medoid (I say _intended_ because it's possible that, after applying the random changes, it becomes more similar to a different medoid).

In [107]:
def cluster_creator(medoid_input, difference_percent_range, n_games):
    '''
    input: medoid_input is a one-dimensional array of binary data
           difference_percent_range is a list with a min and max percent (e.g. [0,0.25] for 0-25%); cannot do <1% 
           n_games is the number of games needed in the output
    output: a list of n games with the speficied similarity to the medoid_input
    '''
    
    simulated_games = []
    
    for i in range(n_games):
        # select how many elements will be changed
        # must multiply by 100 and add 1 due to randrange needing integers and being exclusive with the high end
        percent_change = random.randrange(difference_percent_range[0]*100, (difference_percent_range[1]+0.01)*100, 1)/100
        
        # convert the percent to an integer by multiplying by the total number of elements and rounding
        element_change = round(len(medoid_input)*percent_change)
        
        # select which elements will be changed
        element_change_positions = []
        for j in range(element_change):
            element_change_positions.append(random.randrange(0,len(medoid_input)))
        
        # change those elements
        simulated_game = copy.copy(medoid_input)
        for k in range(len(element_change_positions)):
            if simulated_game[element_change_positions[k]]==1:
                simulated_game[element_change_positions[k]]=0
            else:
                simulated_game[element_change_positions[k]]=1
        
        # append to list of games
        simulated_games.append(simulated_game)
    
    return(simulated_games)

In [111]:
# create the cluster and add the medoid to it
first_medoid_cluster = cluster_creator(first_medoid, [0,0.25], 24)

In [112]:
first_medoid_cluster

[array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0]),
 array([0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0]),
 array([1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0]),
 array([0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1]),
 array([0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0]),
 array([1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0]),
 array([1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0]),
 array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1]),
 array([1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0]),
 array([1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0]),
 array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0]),
 array([0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0])]

Looks right, but just to test, let's make sure the differences between each simulated game and the medoid is less than or equal to 25% (5 elements of the 20):

In [150]:
distances = []
for i in range(len(first_medoid_cluster)):
    distances = distances + [cluster_distance_calculator(first_medoid, first_medoid_cluster[i])]
print(max(distances))

5

Perfect! now to create the other clusters of games around the other medoids.

In [117]:
second_medoid_cluster = cluster_creator(second_medoid, [0,0.25], 24)
third_medoid_cluster = cluster_creator(third_medoid, [0,0.25], 24)
fourth_medoid_cluster = cluster_creator(fourth_medoid, [0,0.25], 24)

Finally, we can stitch all the games together into one dataframe:

In [123]:
simulated_games = [first_medoid] + first_medoid_cluster + [second_medoid] + second_medoid_cluster +\
[third_medoid] + third_medoid_cluster + [fourth_medoid] + fourth_medoid_cluster

In [154]:
simulated_games = pd.DataFrame(np.array(simulated_games))

In [155]:
simulated_games

    0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19
0   0  1  0  0  0  1  0  0  0  0   1   0   0   1   0   0   0   1   0   0
1   0  1  0  0  0  1  0  0  0  0   1   0   1   1   0   1   0   1   0   0
2   0  1  0  0  0  1  1  0  0  0   1   0   0   1   0   0   0   1   0   0
3   0  1  0  0  0  1  0  0  0  0   1   0   0   1   0   1   0   1   0   0
4   0  1  0  1  0  0  0  0  0  0   1   0   1   1   0   0   0   1   0   0
.. .. .. .. .. .. .. .. .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
95  1  1  1  1  1  0  1  0  0  0   1   1   0   1   1   0   1   1   1   1
96  1  1  1  1  1  0  1  1  1  0   1   0   1   1   1   1   1   1   1   1
97  1  1  1  1  1  0  1  0  1  1   0   1   0   1   1   1   0   1   1   1
98  0  1  1  1  1  0  1  0  1  0   1   1   0   0   1   1   1   1   1   1
99  1  1  1  1  1  0  1  0  1  0   1   1   0   1   1   1   1   1   1   1

[100 rows x 20 columns]

### Building the Clustering Algorithm
So now, in total, we have 100 games of 20 resources with 25 in each cluster centered around 4 medoids. This is roughly what we should expect to find with the actual game data so it should serve as a relevant proxy.

To restate the goal of the Algorithm:  
**Clustering Algorithm**
1. Start with nodes equal to the number of games (k=m)
2. Calculate the distance between each node and every other node where distance is the sum of resources that don't match (i.e. if a card is in both decks, that resource adds 0 distance, but it if is in one and not the other, then it adds 1 distance.  "Distance" is the sum of all these resource differences)
3. For each node, calculate the nearest node(s) via distance + tolerance and add to the node via averaging. 
4. For each updated node, calculate the distances to all other nodes and the min and max distances per node
5. Drop the node for which the min distance is the smallest and, of those, the max distance is the smallest (this steps adds maximum distance between the nodes)
6. Repeat 2-5 until k=1
7. Plot average distance for k=1 through k=m
8. Select a reasonable k

In [181]:
def node_distancer(resource_dataframe_input):
    '''
    input: resouce_dataframe_input is a dataframe with resources in the columns and games in the rows with 
            binary data filling the table.
           k_input is the number of clusters
    output: k centroids
    '''
    # create empty array to hold all the distances comparing each combination
    all_node_distances = np.zeros([len(resource_dataframe_input),len(resource_dataframe_input)])
    # calculate distance between the ith game and the jth game
    for i in range(len(all_node_distances)):
        for j in range(len(all_node_distances)):
            all_node_distances[i,j] = cluster_distance_calculator(resource_dataframe_input.iloc[i], resource_dataframe_input.iloc[j])
    
    return(all_node_distances)

In [183]:
simulated_node_distances = node_distancer(simulated_games)

In [286]:
simulated_node_distances

array([[ 0.,  2.,  1., ..., 14., 13., 13.],
       [ 2.,  0.,  3., ..., 14., 13., 13.],
       [ 1.,  3.,  0., ..., 13., 12., 12.],
       ...,
       [14., 14., 13., ...,  0.,  5.,  3.],
       [13., 13., 12., ...,  5.,  0.,  2.],
       [13., 13., 12., ...,  3.,  2.,  0.]])

Above is a 100x100 array which shows the distance of each node to every other node.  Below is just the first row, which compares the first node to all 100 other nodes, separated by cluster:

In [298]:
print(simulated_node_distances[0,0:25])
print(simulated_node_distances[0,25:50])
print(simulated_node_distances[0,50:75])
print(simulated_node_distances[0,75:100])

[0. 2. 1. 1. 3. 1. 2. 1. 3. 4. 1. 2. 4. 1. 2. 2. 5. 3. 3. 1. 3. 4. 4. 2.
 3.]
[11. 10. 10.  9. 11. 11. 11. 12. 10. 11. 11. 11. 12. 12. 11. 11. 11.  9.
  9. 11. 13. 11. 11.  9. 11.]
[10.  8.  8. 12.  9. 11. 11. 11. 13. 10. 11. 11. 10. 11. 10. 10.  9.  9.
 12. 11.  9.  9. 10. 10. 10.]
[13. 13. 17. 12. 12. 12. 12. 11. 14. 13. 14. 15. 13. 11. 15. 14. 15. 11.
 15. 12. 11. 14. 14. 13. 13.]

Above is the first row of what I'm calling a 'node' distance separated into each of the medoid-centered groupings.  In this case, the node is 1 game, but we'll eventually be merging games of resources together so it's easier to call these the more generic 'node' than calling it 'the combination of game 1, game 10,..., game n'.  

What it's showing is that the distance between the first node and itself is, as expected, 0 and the distances between the first node and the others centered around that medoid ranges between 0 and 5.  Compared to the second medoid and the simulated games around it, we see values from 9 to 12. We see a difference of 8-13 for the third medoid cluster and 12-17 for the fourth medoid cluster. In all, it seems to be working as expected.

At step 3 in the algorithm, we calculate the nearest node and combine the two by taking the average of the resources. As can be seen, the nearest of all the nodes (that isn't itself) is 1 and there are 7 nodes that have the same distance.  This means that 7 nodes have only a 1-resource difference to the first node. I'm not exactly sure how to handle ties, but it seems reasonable to simply take an average across all nodes that are equally close.  I can imagine a better (and more complex) strategy doing backtracking and seeing which node-pairing results in a smaller distance in the n+1 iteration and going with that, but I'll keep this version simple. 

As per this plan, let's create a function which creates a new node based on an average of the equally-close nodes:

In [398]:
def node_averager(list_of_nodes):
    return(np.mean((list_of_nodes), axis = 0))

Next, for each row of 100 distances, we'll want to select the node(s) with the equally-minimal distance from the original node to send to the `node_averager()` and store the resulting nodes along with indices for the nodes included.  In other words, in the case of the first iteration when the nodes are equal to the games, we're finding the most similar other game(s) and creating an average new node.

In [456]:
def new_noder(resouce_table_input, node_distance_table_input, node_index, tolerance_input):
    '''
    inputs: resource_table_input: a table with games in the rows and resources in the columns (mxn)
            node_distance_table_input: an array of node distances (mxm)
            node_index: an integer value (should range from 0 to m)
            tolderance_input: value to be added to the minimum distance to be included in the closest nodes
    output: a tuple of a new average node and a list of the nodes averaged together
    '''
    node_distances = node_distance_table_input[node_index]
    min_distance = min(node_distances[1:])+tolerance_input # find the closest node(s) that aren't the primary node
    closest_node_indices = np.where(node_distances<=min_distance)[0] # [0] since these are 1-dimensional slices
    
    # grab the closest nodes and put into a list
    closest_nodes = []
    for i in range(len(closest_node_indices)):
        closest_nodes.append(resource_table_input.iloc[closest_node_indices[i]].values)
    
    # grab primary_node and add to the list of closest_nodes
    primary_node = resource_table_input.iloc[node_index].values
    closest_nodes.append(primary_node)
    
    
    # take an average of the primary and closest node(s)
    new_node = node_averager(closest_nodes)
    
    return([new_node,[node_index,closest_node_indices]])

In [457]:
new_node = new_noder(simulated_games, simulated_node_distances, 0,0)

Excellent! We now have a way of generating a new node, which is the average of the closest nodes (within some tolerance), along with the indices for the primary node and the nodes closest.  

As per the algorithm, we'll want to do this for all nodes before calculating the distances between each of them and removing the closest.

In [683]:
def node_updater(resource_table_input, node_distance_table_input, tolerance_input = 1):
    '''
    TODO: add deets
    '''
    new_resource_list = []
    for i in range(len(resource_table_input)):
        new_resource_list.append(new_noder(resource_table_input, node_distance_table_input,i,tolerance_input)[0])
    
    # convert to dataframe
    new_resource_table = pd.DataFrame(np.array(new_resource_list))
    
    return(new_resource_table)

In [464]:
simulated_games_step2 = node_updater(simulated_games, simulated_node_distances,1)

In [469]:
simulated_games_step2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.133333,0.933333,0.0,0.066667,0.0,0.866667,0.133333,0.0,0.0,0.0,1.0,0.066667,0.066667,0.866667,0.066667,0.133333,0.133333,1.0,0.066667,0.066667
1,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,0.666667,1.000000,0.000000,1.000000,0.000000,1.0,0.000000,0.000000
2,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.750000,0.0,0.0,0.0,1.0,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
3,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,0.250000,1.000000,0.000000,0.750000,0.000000,1.0,0.000000,0.000000
4,0.000000,1.000000,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,0.0,0.0,1.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.0,1.000000,1.000000
96,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,1.0,1.0,0.0,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
97,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,1.0,0.0,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.000000,1.000000
98,0.400000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,0.0,1.0,1.000000,0.000000,0.200000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
99,0.900000,0.900000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,0.0,1.0,1.000000,0.000000,0.800000,0.900000,1.000000,1.000000,1.0,1.000000,1.000000

In [471]:
node_distance_table_step2 = node_distancer(simulated_games_step2)

In [501]:
i = 0

In [537]:
node_distance_table_step2[i]

array([ 0.        ,  2.53333333,  1.73333333,  1.86666667,  3.73333333,
        1.73333333,  2.86666667,  1.8       ,  4.        ,  5.        ,
        1.8       ,  3.        ,  5.        ,  1.73333333,  2.4       ,
        2.73333333,  5.73333333,  3.86666667,  3.86666667,  1.8       ,
        3.73333333,  4.6       ,  5.        ,  2.23333333,  3.86666667,
       10.4       , 10.41666667, 10.44444444,  8.93333333, 10.93333333,
       10.4       , 10.53333333, 10.78333333,  9.8       , 11.06666667,
       10.93333333, 10.4       , 10.78333333, 11.26666667, 10.8       ,
       10.4       , 10.4       ,  9.33333333,  9.06666667, 10.53333333,
       12.53333333, 10.6       , 10.4       ,  8.66666667, 10.8       ,
       10.02424242,  8.53333333,  7.93333333, 11.6       ,  9.33333333,
       10.93333333, 10.56666667, 10.56666667, 12.66666667,  9.56666667,
       10.6       , 10.2       ,  9.86666667, 10.46666667, 10.33333333,
       10.02424242,  9.46666667,  9.4952381 , 11.8       , 11.2       ,
        9.2       ,  9.4       , 10.06666667,  9.8       , 10.02424242,
       11.96666667, 11.96666667, 15.86666667, 11.4       , 11.53333333,
       11.76666667, 11.71428571, 10.53333333, 12.55555556, 11.96666667,
       12.55555556, 14.13333333, 12.06666667, 10.26666667, 13.5       ,
       12.46666667, 14.        , 10.73333333, 14.        , 11.4       ,
       10.53333333, 13.26666667, 13.53333333, 12.2       , 11.96666667])

In [535]:
min(node_distance_table_step2[i][[s for s in list(range(len(node_distance_table_step2[i]))) if s != i]])

1.7333333333333332

In [544]:
max(node_distance_table_step2[i])

15.866666666666669

It looks like the 0th node has a min distance of 1.73 (excluding the distance to itself) and a max distance of 15.87.  What we want to know is which nodes share the minimum distance, be it 1.73 or something smaller, then, of those, remove the node with the smallest maximum distance.  In order to do this, we'll create a function which returns those min and max values.

In [549]:
def node_distance_min_maxer(node_distance_table_input):
    node_min_maxs= []
    for i in range(len(node_distance_table_input)):
        node_min = min(node_distance_table_input[i][[s for s in list(range(len(node_distance_table_input[i]))) \
                                                     if s != i]])
        node_max = max(node_distance_table_input[i])
        node_min_maxs.append([node_min, node_max])
    return(node_min_maxs)

In [551]:
node_distance_min_max_step2 = node_distance_min_maxer(node_distance_table_step2)

In [613]:
node_distance_min_max_step2

[[1.7333333333333332, 15.866666666666669],
 [0.6666666666666666, 15.333333333333334],
 [0.6666666666666667, 16.0],
 [0.6666666666666666, 16.0],
 [2.5, 14.666666666666666],
 [0.5, 16.0],
 [2.0, 15.0],
 [1.3333333333333333, 16.333333333333336],
 [2.5, 16.0],
 [3.3333333333333335, 14.0],
 [1.3333333333333333, 16.333333333333332],
 [2.6666666666666665, 15.0],
 [3.5, 15.0],
 [0.5, 16.0],
 [0.6666666666666667, 15.333333333333334],
 [2.0, 15.0],
 [4.0, 15.0],
 [3.0, 15.0],
 [2.0, 16.0],
 [1.3333333333333335, 17.666666666666668],
 [2.3333333333333335, 14.0],
 [3.5, 13.0],
 [4.0, 15.0],
 [0.5, 15.5],
 [2.0, 16.0],
 [0.0, 13.0],
 [0.4318181818181819, 12.75],
 [0.6262626262626264, 13.444444444444445],
 [3.0, 14.0],
 [2.0, 13.0],
 [0.0, 13.0],
 [3.75, 12.666666666666666],
 [0.4318181818181819, 13.25],
 [2.6666666666666665, 15.0],
 [4.0, 13.0],
 [2.0, 13.0],
 [0.0, 13.0],
 [0.4318181818181819, 13.25],
 [3.0, 14.0],
 [2.25, 12.0],
 [0.0, 13.0],
 [0.0, 13.0],
 [2.0, 13.0],
 [2.0, 13.0],
 [3.75, 13.0],
 [4.0, 14.0],
 [1.2222222222222223, 14.666666666666668],
 [0.0, 13.0],
 [3.0, 15.0],
 [2.0, 13.0],
 [0.0, 13.27272727272727],
 [1.0952380952380951, 11.333333333333334],
 [4.0, 12.666666666666668],
 [1.0, 14.666666666666666],
 [2.6, 12.0],
 [3.0, 12.5],
 [0.0, 13.5],
 [0.0, 13.5],
 [2.0, 15.0],
 [0.6666666666666667, 13.0],
 [1.0, 13.666666666666666],
 [0.8, 13.4],
 [1.0952380952380951, 12.666666666666666],
 [0.8, 13.4],
 [2.333333333333333, 13.0],
 [0.0, 13.27272727272727],
 [1.0666666666666667, 13.333333333333332],
 [1.0952380952380951, 12.428571428571429],
 [2.4, 15.0],
 [2.0, 13.0],
 [2.6666666666666665, 14.0],
 [0.6666666666666667, 12.333333333333334],
 [3.0, 13.0],
 [2.4, 13.0],
 [0.0, 13.27272727272727],
 [0.0, 14.1],
 [0.0, 14.1],
 [2.0, 17.666666666666668],
 [2.6666666666666665, 15.0],
 [2.6666666666666665, 13.666666666666666],
 [1.0499999999999998, 13.5],
 [0.5857142857142856, 13.714285714285715],
 [3.0, 12.0],
 [0.0, 14.555555555555555],
 [0.0, 14.1],
 [0.0, 14.555555555555555],
 [2.0, 15.666666666666668],
 [1.1666666666666667, 13.666666666666668],
 [2.3333333333333335, 13.0],
 [0.9444444444444444, 15.5],
 [0.6333333333333333, 14.333333333333334],
 [2.0, 16.0],
 [1.1666666666666665, 12.333333333333332],
 [2.0, 15.666666666666668],
 [3.0, 13.0],
 [2.3333333333333335, 12.666666666666668],
 [3.0, 15.0],
 [3.0, 14.666666666666668],
 [0.8285714285714284, 14.200000000000001],
 [0.0, 14.1]]

Great, now we need to subset to which node has the min first value (looks like 0) and the max second:

In [554]:
def extract_nth(list_input, n): 
    return [element[n] for element in list_input]

In [600]:
min_distance = min(extract_nth(node_distance_min_max_step2,0))

In [601]:
node_min_indices = np.where(extract_nth(node_distance_min_max_step2,0)==min_distance)[0]

In [602]:
node_min_indices

array([25, 30, 36, 40, 41, 47, 50, 56, 57, 65, 74, 75, 76, 83, 84, 85, 99])

In [603]:
min_distance_node_distances = [node_distance_min_max_step2[i] for i in node_min_indices]

In [604]:
min_distance_node_distances

[[0.0, 13.0],
 [0.0, 13.0],
 [0.0, 13.0],
 [0.0, 13.0],
 [0.0, 13.0],
 [0.0, 13.0],
 [0.0, 13.27272727272727],
 [0.0, 13.5],
 [0.0, 13.5],
 [0.0, 13.27272727272727],
 [0.0, 13.27272727272727],
 [0.0, 14.1],
 [0.0, 14.1],
 [0.0, 14.555555555555555],
 [0.0, 14.1],
 [0.0, 14.555555555555555],
 [0.0, 14.1]]

In [605]:
minmax_distance = min(extract_nth(min_distance_node_distances,1))

In [633]:
node_removal_distances = np.asarray([min_distance, minmax_distance])

In [634]:
node_removal_distances

array([ 0., 13.])

We can see that the 0, 1, 2, 3, 4, and 5th index of the min node distances are all tied at [0, 13].  This being the case, we should remove those nodes from simulated_games_step2 and repeat the process.  What this means is we'll start with k=100 clusters, then go to k=95 since we're removing 6 nodes.  In other words, this is an algorithm which will return arbitrary viable values for k and this makes sense since we can imagine data which has distances that share min and max properties.

In [656]:
node_removal_indices = np.where((extract_nth(node_distance_min_max_step2,0)==node_removal_distances[0]) &\
                                (extract_nth(node_distance_min_max_step2,1)==node_removal_distances[1]))[0]

In [665]:
node_removal_indices.tolist()

[25, 30, 36, 40, 41, 47]

In [666]:
[node_distance_min_max_step2[i] for i in node_removal_indices.tolist()]

[[0.0, 13.0], [0.0, 13.0], [0.0, 13.0], [0.0, 13.0], [0.0, 13.0], [0.0, 13.0]]

In [679]:
simulated_games_step3 = simulated_games_step2.drop(node_removal_indices)

In [680]:
simulated_games_step3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.133333,0.933333,0.0,0.066667,0.0,0.866667,0.133333,0.0,0.0,0.0,1.0,0.066667,0.066667,0.866667,0.066667,0.133333,0.133333,1.0,0.066667,0.066667
1,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,0.666667,1.000000,0.000000,1.000000,0.000000,1.0,0.000000,0.000000
2,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.750000,0.0,0.0,0.0,1.0,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
3,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,0.250000,1.000000,0.000000,0.750000,0.000000,1.0,0.000000,0.000000
4,0.000000,1.000000,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,0.0,0.0,1.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.0,1.000000,1.000000
96,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,1.0,1.0,0.0,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
97,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,1.0,0.0,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.000000,1.000000
98,0.400000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,0.0,1.0,1.000000,0.000000,0.200000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
99,0.900000,0.900000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,0.0,1.0,1.000000,0.000000,0.800000,0.900000,1.000000,1.000000,1.0,1.000000,1.000000

Looks like this process works well so we just need to convert it to a function and ensure we get the same results

In [693]:
def drop_closest_nodes(node_table_input, node_minmax_distances):
    '''
    
    '''
    # calculate the min distance of the first element in each of the min/max lists
    min_distance = min(extract_nth(node_minmax_distances,0))
    
    # calculate indices of the nodes which contain the minimum
    node_min_indices = np.where(extract_nth(node_minmax_distances,0)==min_distance)[0]
    
    # generate a list of min/max distances for the nodes which contain the min distance
    min_distance_node_distances = [node_minmax_distances[i] for i in node_min_indices]
    
    # of those distances, calculate the minimum max distance (the second element in the distance lists)
    minmax_distance = min(extract_nth(min_distance_node_distances,1))
    
    # create an array containing the mininum and minimum maximum distance
    node_removal_distances = np.asarray([min_distance, minmax_distance])
    
    # calculate the node indices from the distance table which match the node_removal_distances
    node_removal_indices = np.where((extract_nth(node_minmax_distances,0)==node_removal_distances[0]) &\
                                (extract_nth(node_minmax_distances,1)==node_removal_distances[1]))[0]
    
    # drop the specified nodes from the resource table
    reduced_node_table = node_table_input.drop(node_removal_indices)
    
    return(reduced_node_table)

In [695]:
drop_closest_nodes(simulated_games_step2, node_distance_min_max_step2)==simulated_games_step3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
96,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
97,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
98,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
99,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

At this point, we have everything working and just need to stick all the pieces together:

In [711]:
def node_reducer(node_dataframe_input, tolerance_input):
    '''
    input: a dataframe with nodes in the rows and binary features in the columns
    output: a reduced version of the input table which creates hybrid nodes and removes the node(s) for which there is
        the least difference to the other nodes.
    '''
    
    # calculate node distances
    node_distances = node_distancer(node_dataframe_input)
    
    # create new hybrid nodes
    new_nodes = node_updater(node_dataframe_input, node_distances, tolerance_input)
    
    # calculate hybrid node distances
    new_node_distances = node_distancer(new_nodes)
    
    # calculate the min and max distances per new hybrid node
    new_node_minmax_distances = node_distance_min_maxer(new_node_distances)
    
    # drop the closest node(s)
    reduced_node_dataframe = drop_closest_nodes(new_nodes, new_node_minmax_distances)
    
    return(reduced_node_dataframe)

In [712]:
node_reducer(simulated_games, 1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.133333,0.933333,0.0,0.066667,0.0,0.866667,0.133333,0.0,0.0,0.0,1.0,0.066667,0.066667,0.866667,0.066667,0.133333,0.133333,1.0,0.066667,0.066667
1,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,0.666667,1.000000,0.000000,1.000000,0.000000,1.0,0.000000,0.000000
2,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.750000,0.0,0.0,0.0,1.0,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
3,0.000000,1.000000,0.0,0.000000,0.0,1.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,0.250000,1.000000,0.000000,0.750000,0.000000,1.0,0.000000,0.000000
4,0.000000,1.000000,0.0,1.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,1.0,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,0.0,0.0,1.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.0,1.000000,1.000000
96,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,1.0,1.0,0.0,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
97,1.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,1.0,0.0,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.000000,1.000000
98,0.400000,1.000000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,0.0,1.0,1.000000,0.000000,0.200000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000
99,0.900000,0.900000,1.0,1.000000,1.0,0.000000,1.000000,0.0,1.0,0.0,1.0,1.000000,0.000000,0.800000,0.900000,1.000000,1.000000,1.0,1.000000,1.000000

Next, we'll need to apply the cluster reducer down to k=1 and calculate the average distance between clusters at each step to get a sense of how many clusters should be included.

In [702]:
simulated_node_distances

array([[ 0.,  2.,  1., ..., 14., 13., 13.],
       [ 2.,  0.,  3., ..., 14., 13., 13.],
       [ 1.,  3.,  0., ..., 13., 12., 12.],
       ...,
       [14., 14., 13., ...,  0.,  5.,  3.],
       [13., 13., 12., ...,  5.,  0.,  2.],
       [13., 13., 12., ...,  3.,  2.,  0.]])

In [705]:
np.mean(simulated_node_distances, axis = 0)

array([ 9.11,  9.45,  9.03,  8.71,  9.79,  9.03,  9.11,  9.05,  9.79,
        9.47,  9.11,  8.55,  9.37,  9.13,  9.33,  9.01, 10.13,  9.71,
        8.61,  9.95,  8.55,  7.79,  9.05,  9.05,  8.55,  7.83,  7.91,
        8.23,  8.73,  8.19,  7.83,  8.61,  8.67,  8.23,  8.37,  8.19,
        7.83,  8.57,  8.59,  7.47,  7.83,  7.83,  8.61,  8.29,  8.15,
        8.13,  8.61,  7.83,  9.01,  8.23,  7.67,  7.21,  7.99,  8.89,
        7.61,  7.97,  8.05,  8.05,  8.25,  8.09,  8.51,  7.59,  8.05,
        7.99,  8.13,  7.67,  8.07,  7.67,  8.81,  8.31,  8.45,  8.09,
        8.01,  8.41,  7.67,  7.47,  7.47,  9.35,  8.83,  8.79,  7.95,
        7.87,  7.47,  7.77,  7.47,  7.77,  8.59,  8.27,  8.33,  8.23,
        8.31,  8.91,  7.93,  8.97,  9.03,  7.49,  8.73,  8.25,  8.17,
        7.47])

In [707]:
np.mean(np.mean(simulated_node_distances, axis = 0))

8.403

So the average distance of each node to every other node is 8.4.  Ideally, this number gets larger as we decrease the number of clusters.  To that end, lets wrap all of these functions into a single function which stores the results at each stage as well as the average distances.

In [713]:
def binary_clusterer(node_dataframe_input, tolerance_input):
    '''
    input: node_dataframe_input: a dataframe with nodes in the rows and binary features in the columns
           tolerance_input: value to be added to the minimum distance to be included in the closest nodes
    output: clusters: for each step, the resulting hybrid clusters
            average_distances: for each step, the resulting average distance to every other cluster
            k: the number of centroids
    '''
    centroids = []
    average_distances = []
    ks = []
    node_dataframe = node_dataframe_input
      
    k = len(node_dataframe_input)
    
    while k>=1:
        # save results of current step
        centroids.append(node_dataframe)
        average_distances.append(np.mean(np.mean(node_distancer(node_dataframe), axis = 0)))
        ks.append(k)
        
        # reduce node_dataframe
        node_dataframe = node_reducer(node_dataframe, tolerance_input)
        
        # set k
        k = len(node_dataframe)
        
    return([centroids,average_distances,ks])

In [12]:
test = binary_clusterer(simulated_games,1)

NameError: name 'binary_clusterer' is not defined